.company__vacancy-item {
  font-size: 24px;
  font-weight: 700;
  color: #B22D28;
  margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
  .company__vacancy-item {
    font-size: 20px;
  }
}
