.form__policy-pseudo {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 20px;
  flex-shrink: 0;
}

.form__chebox:checked + .form__policy-pseudo {
  background-image: url(../../../images/checkbox-checked.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto
}

@media screen and (max-width: 1024px) {
  .form__policy-pseudo {
    width: 55px;
    height: 55px;
  }
}
