.form__policy-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  color: #B22D28;
  font-weight: 700;
  transition: opacity .3s;
}

.form__policy-btn:hover{
  opacity: .8;
}
