.form__error {
  color: rgb(250, 206, 206);
  font-weight: 700;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
}

@media screen and (max-width: 1024px) {
  .form__error {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .form__error {
    font-size: 12px;
  }
}
