.header__promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  background-image: url(../../../images/header-promo.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1440px) {
  .header__promo {
    min-height: 250px;
  }
}

