.popup__container {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  max-width: 1920px;
  height: 80vh;
  box-shadow: 3px 3px 15px #000;
}

@media screen and (max-width: 425px) {
  .popup__container {
    width: 95%;
  }
}

.popup__text-content {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}
