.advantages {
  background: transparent;
  border: none;
  list-style: none;
  padding: 0;
  margin: 0 -3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
