.form {
  position: relative;
  padding: 20px 50px 50px;
  background: url(../../images/form-bgnd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.36) 100%);
}

@media screen and (max-width: 768px) {
  .form {
    padding: 20px 30px 30px;
  }
}

@media screen and (max-width: 425px) {
  .form {
    padding: 20px 10px 30px;
  }
}
