/* .header__item {
  margin-left: auto;
}

.header__item:first-child {
  margin-left: 0;
}

.header__item:nth-child(2) {
  margin-left: 0;
}

@media screen and (max-width: 1024px) {
  .header__item:nth-child(2) {
    margin-left: auto;
  }
} */
